.textField {
  margin-left: 20px;
  margin-right: 20px;
}

.root {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  left: 0;
  right: 0;
  width: 200px;
}

.container {
  position: relative;
  width: 200px;
  margin: auto;
}

.menuContainer {
}
